.tutorial-group-picker {
    .checkbox-input {
        margin-bottom: 5px;
    }
    .ReactTable {
        .disabled {
            opacity: 0.5;
            cursor: not-allowed !important;
        }
        .selected-icon {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
}