#root {
}

@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');

body * {
    font-family: 'Comfortaa', cursive;
    border-radius: 0px !important;
}

.font-sm {
    font-size: 0.85rem;
}