#root {
}

$header-height: 60px;
$side-menu-width: 300px;
$main-color: #3c4b64;

$mood-2l: #ffd2ba;
$mood: #ff7d37;
$font-color: #221e22;

@import url("https://fonts.googleapis.com/css?family=Comfortaa&display=swap");
@import "../imports/ui/layouts/mainApp/header/header";
@import "../imports/ui/layouts//mainApp//sideMenu/sideMenu";
@import "../imports/ui/layouts/mainApp/body/body";
@import "../imports/ui/layouts/mainApp/body/dashboard/dashboard";
@import "../imports/ui/layouts/mainApp/body/lessons/lessons";

@import "../imports/ui/components/alert";

body * {
    font-family: "Comfortaa", cursive;
    border-radius: 0px !important;
    color: $font-color;

    .content-header {
        padding: 20px 0px;
        font-size: 2rem;
    }
}

.font-2xs {
    font-size: 0.5rem !important;
}

.font-xs {
    font-size: 0.75rem !important;
}

.font-sm {
    font-size: 0.85rem !important;
}

.font-md {
    font-size: 1rem !important;
}

.font-lg {
    font-size: 1.5rem !important;
}

.font-xl {
    font-size: 2rem !important;
}

.font-2xl {
    font-size: 3rem !important;
}

.clickable {
    cursor: pointer;
}

#ace-editor *{ font-family : monospace !important;font-size: 16px !important;direction:ltr !important;text-align:left !important;}