$header-height: 50px;
$body-height: calc(100vh - #{$header-height} - 1px);
$side-menu-width: 230px;

$font-color: #3c4b64;
$light-font-color: #DDDDDD;
$border-light-color: #d6d6d6;
$main-color: #3c4b64;
$main-light-color: #5b7095;
$link-hover-bg-color: #EDEEF0;

@mixin fade-hover($hover-color) {
    transition: background-color 0.3s;

    &:hover {
        background-color: $hover-color;
    }
}

@import url('https://fonts.googleapis.com/css?family=Fira+Sans+Condensed:300&display=swap');
@import "../imports/ui/layouts/landingPage/landingPage";
@import "../imports/ui/layouts/console/header/header";
@import "../imports/ui/layouts/console/body/body";
@import "../imports/ui/layouts/console/body/sideMenu/sideMenu";
@import "../imports/ui/layouts/console/modal/common/tutorialGroupPicker";
@import "../imports/ui/layouts/console/modal/common/questionPicker";

@import "../imports/ui/components/fetchableReactTable";
@import "../imports/ui/components/checkbox";
@import "../imports/ui/components/modal/base";
@import "../imports/ui/components/alert";

body * {
    font-family: 'Fira Sans Condensed', sans-serif;
    border-radius: 0px !important;
    color: $font-color;
}

.font-2xs {
    font-size: 0.5rem;
}

.font-xs {
    font-size: 0.75rem;
}

.font-sm {
    font-size: 0.85rem;
}

.font-md {
    font-size: 1rem;
}

.font-lg {
    font-size: 1.5rem;
}

.font-xl {
    font-size: 2rem;
}

.font-2xl {
    font-size: 3rem;
}

.clickable {
    cursor: pointer;
}

.btn.btn-primary > div {
    color: #FFFFFF;
}

.btn.btn-create {
    background-color: #979754;
    color: #FFFFFF !important;
    border: none;

    &:hover {
        background-color: #B9B979;
    }
}
.btn.btn-create > div {
    color: #FFFFFF;
}

.btn.btn-delete {
    background-color: #977f54;
    color: #FFFFFF !important;
    border: none;

    &:hover {
        background-color: #b9a279;
    }
}
.btn.btn-delete > div {
    color: #FFFFFF;
}

.btn.btn-update {
    background-color: #563b65;
    color: #FFFFFF !important;
    border: none;

    &:hover {
        background-color: #6d537b;
    }
}
.btn.btn-update > div {
    color: #FFFFFF;
}

.badge.badge-positive {
    background-color: #3b9e57;
    color: #FFFFFF;
}

.badge.badge-negative {
    background-color: #9e3b3b;
    color: #FFFFFF;
}

.border-light-grey {
    border-color: $border-light-color;
}

#console .content .content-wrapper {
    margin-top: 2rem;

    .content-title {
        padding: 0px 20px;
        margin-bottom: 10px;
        font-size: 2rem;
    }

    .content-body {
        padding: 0px 20px;
    }

    .content-footer {
        width: calc(100% - #{$side-menu-width});
    }
}

.form-control {
    &:disabled {
        background-color: unset;
    }
}