#app {
    .header {
        .side-menu-toggle {
            position: absolute;
            left: 0px;
            height: $header-height;
            width: $header-height;
        }

        .header-logo {
            .logo {
                height: 60px;
            }


        }

        .header-menu {
            .sign-out:hover {
                color: orange;
            }

            position: absolute;
            right: 0px;
            top: 0px;
            height: $header-height;
        }

        height: $header-height;
        box-shadow: 0px -5px 20px 0px $mood-2l;
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
    }
}
